---
import Layout from "../../layouts/Layout.astro";
import { ghostClient } from "../../lib/ghost";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await ghostClient.posts.browse({
    limit: "all",
  });
  // TODO: catch expection
  // .catch((err) => {
  //   console.error(err);
  // });

  return posts.map((post) => {
    // console.log(post);
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post: post,
      },
    };
  });
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <img src={post.feature_image} alt={post.title} />

  <p>{post.reading_time} min read</p>

  <Fragment set:html={post.html} />

  <div>
    <iframe
      width="900"
      height="400"
      src="https://www.mindmeister.com/maps/public_map_shell/3322923410/1?width=900&height=400&z=auto&no_share=1&no_logo=1"
      scrolling="no"
      style="overflow:hidden;margin-bottom:5px"
      >Your browser is not able to display frames. Please visit <a
      href="https://www.mindmeister.com/3322923410/1" target="_blank">1</a> on
      MindMeister.
    </iframe>
  </div>
</Layout>

<style>
  img {
    width: 300px;
  }
</style>
